%h2 Phone 
%form{:method => "POST"}
    - [:sipnumber, :nom, :email, :sippassword, :mac].each do |entry|
        #{entry} : 
        %input{:value => @phone[entry], :name => entry }
        %br
    %br
    %input{:type => "hidden", :name => "id", :value => @phone[:id] }
    %input{:value => "Save", :type=>"submit"}

